/* Shree KRISHNAya Namaha */

.color-linkedin {
    color: #0e76a8;
}

.color-google-scholar {
    color: #64b0f3;
}

.color-orcid {
    color: #a6ce39;
}

.color-publons {
    color: #1866a1;
}

.selected-page {
    color: #3f51b5;
    font-size: large;
}
